@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  area,
  button,
  [role='button'],
  input,
  label,
  select,
  summary,
  textarea {
    touch-action: manipulation;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  button {
    @apply focus:outline-none;
  }

  input {
    @apply focus:shadow-none focus:outline-none;
  }
}

.table-departure-arrival tr:last-child td {
  @apply !border-b-0;
}

.table-highlight-row td,
.route-highlight-row td {
  @apply !bg-indigo-300/10 !text-primary;
}

.table-highlight-row td:first-child {
  @apply !bg-indigo-50;
}
